.error textarea{
    border: #f32020 solid 2px;
}
.error input{
    border: #f32020 solid 2px;
}
.error span{
    color: #fc3a3a;
}
.formSummaryError {
    border: #f32020 2px solid;
    padding: 5px;
    color: #fc8d8d;
}